<%- include('header') -%>
<h2>About Us!</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate labore
  quibusdam doloremque doloribus, quas vel fugiat maxime quae. Voluptatibus
  repellendus maiores similique quia est excepturi perspiciatis corrupti
  laboriosam aut neque velit nesciunt eaque sit obcaecati eum explicabo qui
  voluptas libero ea doloribus, ad officiis asperiores mollitia laudantium!
  Tenetur asperiores sint assumenda officiis exercitationem culpa nam. Eveniet
  possimus tenetur voluptate ea tempore recusandae quo autem laudantium culpa,
  voluptatum sapiente aliquid dignissimos amet ullam ducimus, quaerat
  perspiciatis excepturi illo eum odit perferendis, nihil omnis? Dignissimos
  nobis minus tenetur expedita mollitia sed, praesentium fuga porro deleniti
  impedit. Fugiat enim sequi totam sed distinctio hic, ex veniam sapiente
  consequuntur voluptates dolore eaque velit temporibus repellendus laudantium
  ipsam voluptatem praesentium. Perferendis maiores, provident repellat possimus
  excepturi voluptates beatae corporis cumque veniam dolore quis, eaque soluta
  quod blanditiis officiis alias non accusamus in impedit tempora. A alias,
  voluptate similique odio vero quisquam reiciendis itaque hic illum.
</p>
<%- include('footer') -%>
